$theme = {
  "background": #FFFFFF,
  "buttons": #161D25,
  "buttons-text": #FFFFFF,
  "links": #2D35E8,
  "main-text": #161D25,
  "scroll-thumb": #D2D3D4,
  "scroll-track": #F5F6F8,
  "secondary-buttons": #F5F6F8,
  "secondary-buttons-text": #161D25,
  "secondary-text": #8E8EAE,
  "success": #00BF63,
  "warning": #FF9A34,
  "error": #FF003D,
  "background-zero-opacity": rgba(255, 255, 255, 0),
  "divider": rgba(142, 142, 174, 0.4),
  "success-icons": #00D970,
  "buttons-active": #293645,
  "buttons-hover": #202A35,
  "buttons-shadow": rgba(22, 29, 37, 0.15),
  "buttons-inactive": #F5F6F7,
  "main-text-inactive": #C9C9D9,
  "error-background": #FFB3C5,
  "highlight": #E6E9ED,
  "icons": #ACACC3,
  "icons-hover": #8E8EAE,
  "icons-active": #707099,
  "illustration-background": #F7F7F7,
  "links-hover": #141BB5,
  "links-icons": #444BEB,
  "links-background": #CED0FA,
  "popups-background": #FFFFFF,
  "secondary-buttons-active": #D7DBE3,
  "secondary-buttons-hover": #E6E9ED,
  "main-text-active": #4E5E72,
  "main-text-hover": #3D4A59,
  "secondary-text-active": #707099,
  "secondary-text-hover": #707099,
  "success-background": #72FFBB,
  "tooltip-background": #161D25,
  "warning-background": #FFF3E6,
  "input-line": #D7DBE4,
  "input-line-active": #ACACC3,
  "input-line-disable": #D7DBE4,
  "input-line-hover": #C9C9D9
}