$theme = {
  "background": #FFFFFF,
  "buttons": #161D25,
  "buttons-text": #FDFDFD,
  "links": #2D35E8,
  "main-text": #161D25,
  "scroll-thumb": #D2D3D4,
  "scroll-track": #F5F6F8,
  "secondary-buttons": #F5F6F8,
  "secondary-buttons-text": #161D25,
  "secondary-text": #8E8EAE,
  "success": #00BF63,
  "warning": #FF9A34,
  "error": #FF003D,
  "background-zero-opacity": rgba(255, 255, 255, 0),
  "buttons-inactive": rgba(22, 29, 37, 0.03),
  "divider": rgba(142, 142, 174, 0.4),
  "input-line": rgba(142, 142, 174, 0.6),
  "input-line-active": rgba(22, 29, 37, 0.6),
  "input-line-disable": rgba(172, 172, 195, 0.3),
  "main-text-inactive": rgba(22, 29, 37, 0.2),
  "buttons-active": #293645,
  "buttons-hover": #202A35,
  "buttons-shadow": rgba(22, 29, 37, 0.15),
  "error-background": #FFB3C5,
  "highlight": #E6E9ED,
  "icons": #ACACC3,
  "icons-hover": #8E8EAE,
  "illustration-background": #F7F7F7,
  "links-hover": #141BB5,
  "links-icons": #444BEB,
  "links-background": #CED0FA,
  "popups-background": #FFFFFF,
  "secondary-buttons-active": #D7DBE3,
  "secondary-buttons-hover": #E6E9ED,
  "success-background": #72FFBB,
  "tooltip-background": #161D25,
  "warning-background": #FFF3E6
}